<xen:title>{xen:helper threadPrefix, $thread, escaped}{$thread.title} - {xen:phrase whoreplied_members_who_replied}{xen:helper pagenumber, $page}</xen:title>
<xen:h1>{xen:phrase whoreplied_members_who_replied}</xen:h1>

<xen:container var="$head.noindex">
	<meta name="robots" content="noindex" />
</xen:container>

<xen:navigation>
	<xen:breadcrumb source="$nodeBreadCrumbs" />
	<xen:breadcrumb href="{xen:link full:forums, $forum}">{$forum.title}</xen:breadcrumb>
	<xen:breadcrumb href="{xen:link full:threads, $thread}">{xen:helper threadPrefix, $thread}{$thread.title}</xen:breadcrumb>
</xen:navigation>

<xen:require css="whoreplied.css" />
<xen:require js="js/whoreplied/whoreplied.js" />

<div class="whoreplied section">
	<xen:if hascontent="true">
	<div class="pageNavLinkGroup">
		<xen:contentcheck><xen:pagenav link="threads/whoreplied" linkdata="{$thread}" page="{$page}" perpage="{$usersPerPage}" total="{$totalUsers}" /></xen:contentcheck>
	</div>
	</xen:if>
	
	<dl class="subHeading pairsInline"><dt>{xen:phrase thread}:</dt> <dd><a href="{xen:link threads, $thread}">{xen:helper threadPrefix, $thread}{$thread.title}</a></dd></dl>

	<ol class="overlayScroll">
        <xen:foreach loop="$users" value="$user">
		<xen:include template="member_list_item">
		<xen:set var="$guestHtml">{xen:phrase unknown_member}</xen:set>
		<xen:set var="$contentTemplate">
			<xen:if is="{$user.canStartConversation}">
				<a href="{xen:link 'conversations/add', '', 'to={$user.username}'}">
				{xen:phrase start_conversation}
				</a>
			</xen:if>
		</xen:set>
        	<xen:set var="$extraTemplate">
        		<div class="whoreplied_postcount">
                                <xen:if is="{$canSearch}">
                                <a href="{xen:link 'search/search', '', 'users={$user.username}', 'type=post', 'thread_id={$thread.thread_id}', 'order=date'}" target="_blank" title="{xen:phrase whoreplied_see_posts}">
                                    {$user.post_count}
                                </a>
                                <xen:else />
                                    {$user.post_count}
                                </xen:if>
    			</div>
    		</xen:set>
        </xen:include>
        </xen:foreach>
	</ol>
	
	<xen:if hascontent="true">
	<div class="pageNavLinkGroup">
		<xen:contentcheck><xen:pagenav link="threads/whoreplied" linkdata="{$thread}" page="{$page}" perpage="{$usersPerPage}" total="{$totalUsers}" /></xen:contentcheck>
	</div>
	</xen:if>
	
	<div class="sectionFooter overlayOnly"><a class="button primary OverlayCloser">{xen:phrase close}</a></div>
</div>