<xf:title page="{$page}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title} - {{ phrase('whoreplied_members_who_replied') }}</xf:title>
<xf:h1>{{ phrase('whoreplied_members_who_replied') }}</xf:h1>

<xf:head option="metaNoindex"><meta name="robots" content="noindex" /></xf:head>

<xf:breadcrumb source="{{ $thread.getBreadcrumbs() }}" />

<div class="blockMessage">
    <dl class="pairs pairs--inline">
        <dt>{{ phrase('thread') }}</dt>
        <dd><a href="{{ link('threads', $thread) }}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title}</a></dd>
    </dl>
</div>

<xf:set var="$paginationSetting" value="{{ ($xf.options.svWhoRepliedPagination ?: 'ajax_filter')}}" />
<xf:set var="$useDropdownSubmit" value="{{ count($perPageChoices) > 1 }}" />

<xf:js src="sv/vendor/domurl/url.js" addon="SV/StandardLib" min="1" />
<xf:if is="$paginationSetting == 'standard' && $useDropdownSubmit">
    <xf:js src="sv/lib/dropdownSubmit.js" addon="SV/StandardLib" min="1" />
<xf:elseif is="$paginationSetting == 'ajax'" />
    <xf:js src="sv/lib/ajaxPagination.js" addon="SV/StandardLib" min="1" />
<xf:elseif is="$paginationSetting == 'ajax_filter'" />
    <xf:js src="xf/filter.js" min="1" />
    <xf:js src="sv/lib/xf/filter.js" addon="SV/StandardLib" min="1" />

    <script class="js-extraPhrases" type="application/json">
        {
            "no_items_matched_your_filter": "{{ phrase('no_items_matched_your_filter')|escape('js') }}"
        }
    </script>
    <xf:css src="sv_quick_filter.less" />
</xf:if>

<xf:set var="$xfInit"><xf:trim>
    <xf:if is="$paginationSetting == 'standard' && $useDropdownSubmit">
        sv-dropdown-submit
    <xf:elseif is="$paginationSetting == 'ajax'" />
        sv-ajax-pagination
    <xf:elseif is="$paginationSetting == 'ajax_filter'" />
        sv-dynamic-filter
    </xf:if>
</xf:trim></xf:set>

<div class="block sv-quick-filter" data-xf-init="{$xfInit}"
     data-key="users"
     data-global-find="{{ false }}"
     data-ajax="{{ link('threads/who-replied', $thread, {'per_page': $perPage}) }}"
     data-per-page-cookie-prefix="svWhoReplied_"
     data-content-wrapper=".block-body--whoRepliedBody"
     data-page-nav-wrapper=".block-outer--page-nav-wrapper">
    <xf:if is="$users is not empty">
        <div class="block-outer">
            <div class="block-outer-main">
                <div class="whoreplied-pagenav whoreplied-pagenav--top" style="display:inline-block;">
                    <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
                                link="threads/who-replied"
                                data="{$thread}"
                                params="{{ ($addParamsToPageNav ? $linkFilters : []) + {'per_page': $perPage} }}"
                                wrapperclass="block-outer block-outer--after block-outer--page-nav-wrapper" />
                </div>

                <xf:if is="$useDropdownSubmit">
                    <div class="block-outer" style="display:inline-block;">
                        <div class="inputGroup">
                            <span class="inputGroup-text">{{ phrase('whoreplied_users_per_page:') }}</span>
                            <xf:select name="per_page" value="{$perPage}" class="input--inline input--autoSize">
                                <xf:foreach loop="$perPageChoices" value="$perPageChoice">
                                    <xf:option value="{$perPageChoice}">{$perPageChoice}</xf:option>
                                </xf:foreach>
                            </xf:select>
                        </div>
                    </div>
                </xf:if>
            </div>

            <xf:if is="$paginationSetting == 'ajax_filter'">
                <div class="block-outer-opposite quickFilter u-jsOnly">
                    <div class="inputGroup inputGroup--inline inputGroup--joined">
                        <input type="text" class="input js-filterInput" value="{$filter.text}" placeholder="{{ phrase('filter...')|for_attr }}" data-xf-key="{{ phrase('shortcut.filter')|for_attr }}" />
                        <span class="inputGroup-text">
                            <xf:checkbox standalone="true">
                                <xf:option class="js-filterPrefix" label="{{ phrase('prefix') }}" checked="{$filter.prefix}" />
                            </xf:checkbox>
                        </span>
                        <i class="inputGroup-text js-filterClear is-disabled" aria-hidden="true"></i>
                    </div>
                </div>
            </xf:if>
        </div>

        <div class="block-container">
            <div class="block-body userList block-body--whoRepliedBody">
                <xf:set var="$canSearch" value="{{ $xf.visitor.canSearch() }}" />
                <xf:foreach loop="$users" key="$userId" value="$user">
                    <li class="block-row block-row--separated userList-row js-filterSearchable">
                        <xf:set var="$extraTemplate">
                            <div class="whoreplied--postcount">
                                <xf:if is="$canSearch">
                                    <a href="{{ link('search/search', '', {'c[users]':{$user.username}, 'search_type':'post', 'c[thread]': $thread.thread_id, 'order':'date'}) }}" target="_blank" title="{{ phrase('whoreplied_see_posts')|for_attr }}">
                                        {$user.ThreadUserPost.{$thread.thread_id}.post_count|number}
                                    </a>
                                <xf:else />
                                    {$user.ThreadUserPost.{$thread.thread_id}.post_count|number}
                                </xf:if>
                            </div>
                        </xf:set>
                        <xf:macro template="member_list_macros"
                                  name="item"
                                  arg-user="{$user}"
                                  arg-extraData="{$extraTemplate}"
                                  arg-extraDataBig="1"
                                  />
                    </li>
                </xf:foreach>
            </div>
            <div class="block-footer block-footer--split">
                <span class="block-footer-counter">{{ display_totals($users, $total) }}</span>
            </div>
        </div>

        <div class="whoreplied-pagenav whoreplied-pagenav--bottom">
            <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
                        link="threads/who-replied"
                        data="{$thread}"
                        params="{{ ($addParamsToPageNav ? $linkFilters : []) + {'per_page': $perPage} }}"
                        wrapperclass="block-outer block-outer--after block-outer--page-nav-wrapper" />
        </div>
    <xf:else />
        <div class="blockMessage">{{ phrase('no_records_matched') }}</div>
    </xf:if>

    <xf:hiddenval name="final_url" value="{$finalUrl}" />
</div>