<script class="js-extraPhrases" type="application/json">
	{
		"no_items_matched_your_filter": "{{ phrase('no_items_matched_your_filter')|escape('js') }}"
	}
</script>

<xf:title page="{$page}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title} - {{ phrase('whoreplied_members_who_replied') }}</xf:title>
<xf:h1>{{ phrase('whoreplied_members_who_replied') }}</xf:h1>

<xf:head option="metaNoindex"><meta name="robots" content="noindex" /></xf:head>

<xf:breadcrumb source="{{ $thread.getBreadcrumbs() }}" />

<xf:css src="whoreplied.less" />
<xf:js addon="SV/WhoReplied" src="sv/whoreplied/whoreplied.js" min="1" />

<div class="blockMessage">
	<dl class="pairs pairs--inline">
		<dt>{{ phrase('thread') }}</dt>
		<dd><a href="{{ link('threads', $thread) }}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title}</a></dd>
	</dl>
</div>

<xf:form action="" class="block" data-xf-init="who-replied-init">
	<xf:if is="$users is not empty">

		<div class="block-outer">
			<div class="block-outer-main">
				<xf:pagenav page="{$page}"
							perpage="{$perPage}"
							total="{$total}"
							link="threads/who-replied"
							data="{$thread}"
							wrapperclass="js-filterHide block-outer block-outer--after"
				/>

			</div>
			<xf:macro template="whoreplied_filter_macros"
					  name="quick_filter"
					  arg-key="users"
					  arg-ajax="{{ link('threads/who-replied', $thread) }}"
					  arg-class="block-outer-opposite"
			/>
		</div>
		<div class="block-container">
			<div class="block-body userList">
				<xf:set var="$canSearch" value="{{ $xf.visitor.canSearch() }}" />
				<xf:foreach loop="$users" key="$userId" value="$user">
					<li class="block-row block-row--separated userList-row js-filterSearchable">
						<xf:set var="$extraTemplate">
							<div class="whoreplied--postcount">
								<xf:if is="$canSearch">
									<a href="{{ link('search/search', '', {'c[users]':{$user.username}, 'search_type':'post', 'c[thread]': $thread.thread_id, 'order':'date'}) }}" target="_blank" title="{{ phrase('whoreplied_see_posts')|for_attr }}">
										{$user.ThreadUserPost.{$thread.thread_id}.post_count|number}
									</a>
								<xf:else />
									{$user.ThreadUserPost.{$thread.thread_id}.post_count|number}
								</xf:if>
							</div>
						</xf:set>
						<xf:macro template="member_list_macros"
								  name="item"
								  arg-user="{$user}"
								  arg-extraData="{$extraTemplate}"
								  arg-extraDataBig="1"
								  />
					</li>
				</xf:foreach>
			</div>
			<div class="block-footer block-footer--split">
				<span class="block-footer-counter">{{ display_totals($users, $total) }}</span>
			</div>
		</div>

		<xf:pagenav page="{$page}"
					perpage="{$perPage}"
					total="{$total}"
					link="threads/who-replied"
					data="{$thread}"
					wrapperclass="js-filterHide block-outer block-outer--after"
		/>
	<xf:else />
		<div class="blockMessage">{{ phrase('no_records_matched') }}</div>
	</xf:if>

	<xf:submitrow submit="{{ phrase('close') }}" rowtype="simple" class="js-overlayClose"/>

</xf:form>