<xf:macro name="quick_filter" arg-key="" arg-ajax="" arg-class="" arg-input="{{ [] }}">
    <xf:js src="xf/filter.js" min="1" />
	<xf:js src="sv/whoreplied/xf/filter.js" addon="SV/WhoReplied" min="1" />
	
    <div class="{$class} quickFilter u-jsOnly"
         data-xf-init="filter"
         data-key="{$key}"
         data-ajax="{$ajax}"
         data-search-target=".userList"
         data-search-row=".userList-row"
         data-search-row-group=".contentRow"
         data-no-results-format="<div class=&quot;blockMessage js-filterNoResults&quot;>%s</div>"
		 data-sv-whoreplied-pagenav-wrapper=".block-outer--whoRepliedPageNavWrapper"
		 data-sv-whoreplied-existing-filter-text="{$input.text|for_attr}"
		 data-sv-whoreplied-existing-filter-prefix="{{ $input.prefix ? 'true' : 'false' }}">
		<div class="inputGroup inputGroup--inline inputGroup--joined">
			<input type="text" class="input js-filterInput" value="{$input.text}" placeholder="{{ phrase('filter...')|for_attr }}" data-xf-key="{{ phrase('shortcut.filter')|for_attr }}" />
			<span class="inputGroup-text">
				<xf:checkbox standalone="true">
					<xf:option class="js-filterPrefix" label="{{ phrase('prefix') }}" checked="{$input.prefix}" />
				</xf:checkbox>
			</span>
			<i class="inputGroup-text js-filterClear is-disabled" aria-hidden="true"></i>
        </div>
    </div>
</xf:macro>