.xenOverlay .whoreplied {
	background-color: {xen:property contentBackground};
}

.xenOverlay .whoreplied .pageNavLinkGroup {
	margin-left: 4px;
	margin-right: 4px;
}

.whoreplied_postcount {
    font-size: 30px;
}