<xf:macro name="quick_filter" arg-key="" arg-ajax="" arg-class="">
    <xf:js src="xf/filter.js" min="1" />
    <div class="{$class} quickFilter u-jsOnly"
         data-xf-init="filter"
         data-key="{$key}"
         data-ajax="{$ajax}"
         data-search-target=".userList"
         data-search-row=".userList-row"
         data-search-row-group=".contentRow"
         data-no-results-format="<div class=&quot;blockMessage js-filterNoResults&quot;>%s</div>"
    >
		<div class="inputGroup inputGroup--inline inputGroup--joined">
			<input type="text" class="input js-filterInput" placeholder="{{ phrase('filter...')|for_attr }}" data-xf-key="{{ phrase('shortcut.filter')|for_attr }}" />
			<span class="inputGroup-text">
				<xf:checkbox standalone="true">
					<xf:option class="js-filterPrefix" label="{{ phrase('prefix') }}" />
				</xf:checkbox>
			</span>
			<i class="inputGroup-text js-filterClear is-disabled" aria-hidden="true"></i>
        </div>
    </div>
</xf:macro>